
<header>
  <div class="container">
    <a href="#" class="logo>">Mina's Music</a>
    <nav><img src = "../../../../hey.jpg" style = "float:left" class="pic" alt="logo"></nav>
    <nav class="authStatus">
      <ng-template [ngIf]="!auth.loggingIn">
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</a></li>
        </ul>
          <span *ngIf="auth.loggedIn && auth.userProfile">
            {{ auth.userProfile.name }}
          <span class="divider">|</span>
            <a (click)="auth.logout()">Log Out</a>
          </span>
      </ng-template>
      
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>