
<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo>">Mina's Music </a><br>
    <img class="pic" src="assets/img/mina-logo.png">
    <nav class="authStatus">
      <ng-template [ngIf]="!auth.loggingIn">
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</a></li>
          <span *ngIf="auth.loggedIn && auth.userProfile">
              <li><a href='#' routerLink="/songs">Add Songs</a></li>
          </span>
          <span *ngIf="auth.loggedIn && auth.userProfile">
              <li><a href='#' routerLink="/review">Add Reviews</a></li>
          </span>
          <span>
              <li><a href='#' routerLink="/notice">DMCA</a></li>
          </span>
          <span *ngIf="auth.loggedIn && auth.userProfile">
              <li><a href="#" (click)="auth.logout()">Log Out</a></li>
          </span>
        </ul>
          
      </ng-template>
    </nav>
    <span *ngIf="auth.loggedIn && auth.userProfile">
        <a class="user" style="float:left"> {{ auth.userProfile.name }}</a>
    </span>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div>
  <a href="#" routerLink="/dmca">Security and Privacy Policy</a>
</div>
</footer>