


<div class="play-container">
        <form>
        <h2 class="text-center" id="about">About</h2>
        <body>Mina's Music is a site that provides music reviews for all the current hottest songs on the tube with the ability to add your own songs and write your own reviews. Enjoy!</body>
        </form>
</div>

<div class="play-container">
        <h2 class="text-center">Search for a Song</h2>
        <input type="search" [formControl]="searchText" placeholder="Search for a Song">
        <ul *ngIf="fSongs">
                        <li *ngFor="let song of fSongs">
                                <p class="title">{{ song.title }}</p>
                                <p class="artist">Artist: {{ song.artist }}</p>
                                <p class="album">Album: {{ song.album }}</p>
                                <p class="year">Year: {{ song.year }}</p>
                                <p class="comment">Comment: {{ song.comment }}</p>
                                <p class="genre">Genre: {{ song.genre }}</p>
                                <p class="rating">Rating: {{ song.rating }}</p>
                        </li>
        </ul>
</div>
<div class="play-container">
        <h2 class="text-center">Top 10 Songs</h2>
        <ul *ngIf="songs">
                <li *ngFor="let song of songs">
                        <p class="title">{{ song.title }}</p>
                        <p class="artist">Artist: {{ song.artist }}</p>
                        <p class="album">Album: {{ song.album }}</p>
                        <p class="year">Year: {{ song.year }}</p>
                        <p class="comment">Comment: {{ song.comment }}</p>
                        <p class="genre">Genre: {{ song.genre }}</p>
                        <p class="rating">Rating: {{ song.rating }}</p>
                </li>
        </ul>
        
</div>