
span {
    font-weight: bold;
    font-style: white;
    background: lightgray;
    padding: .3em .8em;
    cursor: pointer;
    user-select: none;
}

div{
    color: white;
}

.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;

    input{
        padding: 1em;
        margin-bottom: 2em;
    }
    body{
        position: relative;
        top: -40px;
    }
}

.text-center {
    position: relative;
    top: -40px;
}
