
<h1>Welcome!</h1>

<div class="play-container">
        <form #addUserForm='ngForm' (ngSubmit)="addUser(addUserForm)">
        <h2 class="text-center">Log In</h2>
          
        <div class="form-group">
                          <input type="email" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" #userName="ngModel" required="required">
        </div>
        <div class="form-group">
                          <input type="text" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="password" #passWord="ngModel" required="required">
        </div>
        <div class="align-center">
                          <button type="submit" class="btn btn-default" id="submit">Log In</button>
                      </div>
        </form>
        </div>
