
<div class="play-container">
        
        <h2 class="text-center" id="about">Security and Privacy Policy</h2>
        <br/><br/>

        <body id="security" contenteditable="false">The Public Company Accounting Oversight Board (“PCAOB,” “us,” or “we”) respects your privacy, and we want you to understand how we may collect personal information about you through our website: http://localhost:4200, and how that information may be used, maintained and, in some cases, shared. This privacy policy (“Privacy Policy”) sets forth the privacy practices and policies governing our Websites.

“Personal information”, is any information that enables us to identify you, directly or indirectly, by reference to an identifier such as your name, identification number, location data, online identifier or one or more factors specific to you. Personal information includes “sensitive personal information” and “pseudonymised personal information” but excludes anonymous information or information that has had the identity of an individual permanently removed. We take copyright seriously, songs cannot be duplicated.

BY USING OR ACCESSING OUR WEBSITES OR BY PROVIDING PERSONAL INFORMATION TO US ON OR THROUGH THESE WEBSITES, YOU CONSENT TO THE COLLECTION, USE, TRANSFER AND DISCLOSURE OF THAT INFORMATION IN ACCORDANCE WITH THIS PRIVACY POLICY AND APPLICABLE LAW.

For the purposes of the EU General Data Protection Regulation 2016/679 (the “GDPR”) the data controller is the Public Company Accounting Oversight Board, with its headquarters offices at Chakma Engineering Building, London ON, Canada.

</body>
<button (click)="edit()">Edit Privacy Policy</button>
<button (click)="save()">Save</button>
        
</div>
