
<div class="play-container">
        <h2 class="text-center">Song Details</h2>
        <ul *ngIf="songs">
                <li *ngFor="let song of songs" >
                        <p class="title">{{ song.title }}</p>
                        <p class="artist">Artist: {{ song.artist }}</p>
                        <p class="album">Album: {{ song.album }}</p>
                        <p class="year">Year: {{ song.year }}</p>
                        <p class="comment">Comment: {{ song.comment }}</p>
                        <p class="genre">Genre: {{ song.genre }}</p>
                        <p class="rating">Rating: {{ song.rating }}</p>
                </li>
        </ul>
        
</div>