
<div class="play-container">
        <h2 class="text-center">Song Details</h2>
        <ul *ngIf="song">
                <li >
                        <h3 class="title" id="position">{{ song.title }}</h3>
                        <p class="artist">Artist: {{ song.artist }}</p>
                        <p class="album">Album: {{ song.album }}</p>
                        <p class="year">Year: {{ song.year }}</p>
                        <p class="comment">Comment: {{ song.comment }}</p>
                        <p class="genre">Genre: {{ song.genre }}</p>
                        <p class="rating">Rating: {{ song.rating }}</p>
                </li>
        </ul>
        <ul>
        <div class=button>
            <h3 class="text" href="#"  [routerLink]="['/song-review', song._id]">View Reviews</h3>
            
        </div>
        <div class=button2 *ngIf="auth.loggedIn && auth.isAdmin">
            <h3 class="text" href="#" [routerLink]="['/song-dmca', song._id]">View DMCA Request</h3>
        </div>
        </ul>

</div>