
h1{
    color: white;
    font-weight: bold;
}
h2{
    color: white;
}

#comment{
    width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        background: rgb(238, 238, 238);
        padding: 1em;
        margin-right: 10px;
        width: 20%;
        height: 200px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
        }

        p.name {
            font-weight: bold;
            font-size: 1.2rem;
        }
        
    }
}

.pic{
    width: 300px;
    height: 300px;
    position: relative;
    left: 600px;
    top: -600px;
}


.play-container {
    padding: 3em;
    border: 1px solid lightgray;
    margin-bottom: 1em;
    margin-top: 3em;
    margin-right: 40em;

    input{
        padding: 1em;
        margin-bottom: 2em;
    }
    body{
        position: relative;
       
    }
    form{
        color: white;
    }
}
