
<h1>Songs</h1>

<form #addItemForm='ngForm' (ngSubmit)="addItem(addItemForm)">
        <h2 class="text-center">Add New Item</h2>
          
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Item Name" name="name" [(ngModel)]="name" #itemName="ngModel" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="type" placeholder="Type" name="type" [(ngModel)]="type" #itemType="ngModel" required="required">
        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="loan" placeholder="Loan Period" name="loan" [(ngModel)]="loan" #loanPeriod="ngModel">  
        </div>
        <div class="align-center">
            <button type="submit" class="btn btn-default" id="submit">Submit</button>
        </div>
</form>