

<div class="play-container">
        
        <h2 class="text-center" id="about">DMCA Takedown Notice</h2>
        <br/><br/>

        <body id="content" contenteditable="false">
            To report a song go to the songs page and place a notice. Enter your email,. We will get back to you as soon as possible
            Contact mina.k@hotmail.com for any issues.
        </body>
    <div *ngIf="auth.loggedIn && auth.isAdmin">
        <button (click)="edit()">Edit DMCA Notice</button>
        <button (click)="save()">Save</button>
    </div>
    <button href="#" [routerLink]="['/dmcaform']">Add DMCA Request</button>
        
</div>

